/* height / width */
/* z-index */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 5px; }
  .carousel .control-buttons {
    position: absolute;
    top: 195px;
    height: 50px;
    width: 100%;
    z-index: 9; }
    .carousel .control-buttons .prev {
      cursor: pointer;
      height: 50px;
      width: 50px;
      display: inline-block;
      background: none no-repeat center/contain; }
    .carousel .control-buttons .next {
      cursor: pointer;
      height: 50px;
      width: 50px;
      display: inline-block;
      background: none no-repeat center/contain;
      float: right; }
  .carousel .preview-frame {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;
    border: 5px solid #33f;
    border-bottom: none;
    z-index: 0; }
    .carousel .preview-frame .preview {
      position: absolute;
      height: 400px;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: left 0.3s ease-out;
      -o-transition: left 0.3s ease-out;
      transition: left 0.3s ease-out;
      z-index: -1; }
      .carousel .preview-frame .preview.to-left {
        left: -100%; }
      .carousel .preview-frame .preview.to-right {
        left: 100%; }
      .carousel .preview-frame .preview .preview-label-cushion {
        position: relative;
        background: rgba(255, 255, 255, 0.3);
        top: -100%;
        height: 100%;
        width: 100%; }
      .carousel .preview-frame .preview .preview-label {
        position: relative;
        top: -200%;
        text-align: center;
        font-size: 5vw; }
      .carousel .preview-frame .preview .preview-image {
        position: relative;
        height: 400px;
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
  .carousel .thumbnail-frame {
    position: relative;
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .carousel .thumbnail-frame .thumbnail {
      height: 100%;
      width: 100%;
      background: none no-repeat center/cover;
      cursor: pointer; }
      .carousel .thumbnail-frame .thumbnail .thumbnail-cover {
        height: 100%;
        width: 100%;
        border: 5px solid #33f;
        background: rgba(51, 51, 255, 0.5); }
        .carousel .thumbnail-frame .thumbnail .thumbnail-cover .thumbnail-label {
          height: 100%;
          width: 100%;
          line-height: 14em;
          text-align: center; }
      .carousel .thumbnail-frame .thumbnail.active {
        pointer-events: none; }
        .carousel .thumbnail-frame .thumbnail.active .thumbnail-cover {
          background: rgba(51, 51, 255, 0);
          border: 5px solid #3f3; }
